
@{
    ViewBag.Title = "CommentConfirmation";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container">
    <div class="comment-form-wrap pt-5">
        <h3 class="mb-5">Yorumunuz Başarıyla Alındı</h3>
        <p>Teşekkür ederiz! Yorumunuz başarıyla alınmıştır.</p>
        <p><a href="/Blog/Index/">Ana sayfaya dönmek için tıklayınız.</a></p>
    </div>
</div>

