@model EntityLayer.Concrete.Blog
<div class="post-content-body">
    <p>@Html.DisplayFor(m=>m.BlogContent)</p>
    <div class="row mb-5 mt-5">
        <div class="col-md-12 mb-4">
            <img src="@Html.DisplayFor(m=>m.BlogImage)" alt="Image placeholder" class="img-fluid rounded">
        </div>
       
    </div>
   
</div>

